body {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

@font-face {
  font-family: TT Lakes;
  src: url(./fonts/TTLakes-Regular.woff) format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: TT Lakes;
  src: url(./fonts/TTLakes-Medium.woff) format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: TT Lakes;
  src: url(./fonts/TTLakes-Bold.woff) format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
button {
  background-color: #ff3e79;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  margin-right: 20px;
}

/* Хедер */

.header {
  background-color: #fff;
  box-shadow: 0 1px 10px 1px #80949f;
}
.container {
  padding: 0 15px;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  min-height: 88px;
  align-items: center;
}

/* Main */
.main-title {
  display: flex;
  align-items: center;
  background-color: rgb(248, 248, 248);
}

h1 {
  font-family: TT Lakes;
  font-size: 28px;
  font-weight: 700;
}
/* Элемент перед заголовком */
.main-title::before {
  content: '';
  width: 4px;
  height: 40px;
  background-color: rgb(65, 246, 215);
  display: inline-block;
  border-radius: 2px;
  margin-right: 10px;
}
.slide-menu {
  display: flex;
  overflow-x: scroll;
  margin-bottom: 24px;
}
.slide-menu__item {
  background-color: #fff;
  width: 248px;
  height: 40px;
  border: 2px solid #b8ffec;
  border-radius: 10px;
  font-family: TT Lakes;
  font-size: 16px;
  font-weight: 500;
  color: #7e7e82;
  margin-right: 10px;
  white-space: nowrap;
}
.hidden-text {
  font-family: TT Lakes;
  font-size: 16px;
  font-weight: 500;
  color: #7e7e82;
  margin-left: 24px;
}
.hidden-request-text,
.hidden-status-text {
  font-family: TT Lakes;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: rgb(27, 28, 33);
  margin-right: 10px;
}
.description__text {
  font-family: TT Lakes;
  font-weight: 400;
  font-size: 14px;
  color: rgb(27, 28, 33);
  line-height: 18px;
  letter-spacing: 0.2px;
}
.description__link {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.description__link-logo {
  margin-right: 8px;
}
.description__link-text {
  font-family: TT Lakes;
  font-weight: 500;
  font-size: 16px;
  color: #1b1c21;
  text-decoration: none;
}
.main-img {
  width: 100%;
}

/* Брейкпоинты */
@media (min-width: 768px) {
  .header__btn-contacts,
  .header__btn-chat,
  .header__btn-profile,
  .divider1 {
    display: block;
  }
  .header {
    box-shadow: none;
  }
  .container {
    padding: 0 24px;
  }
  .logo {
    margin-right: 250px;
  }
  .description {
    display: none;
  }
  .main-img {
    display: none;
  }
  .description-768 {
    display: flex;
    height: 208px;
  }
  .description__text {
    min-width: 312px;
    margin: 0;
    margin-right: 50px;
  }
  .description__link-logo {
    margin-top: 10px;
  }
  .description__link-text {
    margin-top: 10px;
  }
  .main-img-768 {
    min-width: 360px;
  }
}

@media (min-width: 1120px) {
  .header {
    box-shadow: none;
  }
  .main-title {
    display: none;
  }
  .main-img-768 {
    min-width: 530px;
    min-height: 320px;
  }
  .main-title--hidden {
    display: block;
    margin-right: auto;
    
  }

  .hidden-text {
    display: block;
    margin-right: auto;
  }
  .hidden-span {
    display: block;
  }
  .hidden-request-text,
  .hidden-status-text {
    display: block;
  }
  .header__inner {
    display: flex;
    justify-content: stretch;
  }
  .header__btn-contacts,
  .header__btn-chat,
  .header__btn-profile,
  .divider,
  .logo,
  .menu {
    display: none;
  }
  .header__inner::before {
    content: '';
    width: 4px;
    height: 40px;
    background-color: rgb(65, 246, 215);
    display: inline-block;
    border-radius: 2px;
    margin-right: 10px;
  }
}
